<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      input{
        display: block;
      }
    </style>
  </head>
  <body>
    <p> <%=msg%> </p>
    <form class="" action="/passwordchange" method="post">
      <input type="hidden" name="username" value="<%= username %>">
      <input type="hidden" name="email" value="<%= email %>">
      <input type="number" name="otp" value="" required placeholder="Enter otp">
      <input type="password" name="password" value="" required placeholder="enter new password">
      <input type="password" name="confirmPassword" value="" required placeholder="confirm password">
      <button type="submit" name="button">Change password</button>
    </form>
    <form class="" action="/resendotpforpasswordchange" method="post">
      <input type="hidden" name="username" value="<%= username %>">
      <input type="hidden" name="email" value="<%= email %>">
      <button type="submit" name="button">Resend otp</button>
    </form>
  </body>
</html>
